*.json
*.js
*.txt
py_http.server_localhost_8000.cmd
requesthandler.info.md
!utils.js
!gen_xscreds.js
__pycache__
robocopy-remote.cmd
env/
#https://stackoverflow.com/questions/24410208/gitignore-does-not-ignore-folder